.mods-grid-heading {
	text-align: center;
}

#mods-container {
	display: grid;
	/* Creates as many 250px wide columns as will fit, wrapping to a new row when necessary */
	grid-template-columns: repeat(auto-fit, 275px);
	gap: 0.5rem; /* Spacing between cards */
	justify-content: center; /* Centers the grid within its container */
	width: 100%;
	padding: 1rem;
}
