.app-container {
	width: 100%;
}

#app {
	/* padding: 1rem; */
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 100%;
	max-width: calc(100vw - 6rem);
	gap: 1rem;
	height: calc(100vh - 32px); /* Set to full height minus titlebar */
	margin-top: 32px; /* Match titlebar height */
	overflow-y: auto; /* Enable vertical scrolling */
	overflow-x: hidden;
	box-sizing: border-box; /* Include padding in the height calculation */
}

.app-heading {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding-top: 2rem;
}

.install-button {
	min-width: 10rem;
	gap: 0.5rem;
}

.install-button span {
	text-align: center;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: translateY(2px);
}

.btn:hover {
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	background-color: var(--foreground);
	color: var(--background);
}

.progress-percent {
	text-align: center;
}

body {
	margin: 0; /* Remove default margin */
	overflow: hidden; /* Prevent body scrolling */
	height: 100vh; /* Full viewport height */
}

.sidebar-container {
	height: calc(100% - 32px);
	margin-top: 32px;
	overflow-y: hidden;
	overflow-x: hidden;
}

.filter-buttons {
	display: flex;
	gap: 1rem;
	justify-content: center;
	height: 100%;
}

.button-wrapper {
	display: flex;
	gap: 1rem;
}

button,
input[type="submit"],
input[type="reset"] {
	color: #000;
	/* border: 1px solid black; */
	border-radius: 0.5rem;
	background: none;
	padding: 0.5rem 1rem;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

input {
	border-radius: 0.2rem;
	border: 1px solid #ccc;
	height: 2rem;
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

.input-wrapper {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.checkbox-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
}

input[type="checkbox"] {
	width: 16px;
	height: 16px;
}

a {
	text-decoration: none;
	color: var(--foreground);
}

a:hover {
	color: #777;
}
